<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Math Explanations</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	

</head>

<body>
	<h1>Generating explanations for math notations</h1>

	<form>
		Latex Tag: <br><br>
		<input type="text" id="latex"> <br><br>

		<button id="button">button</button>

	</form>
	
	<script>
		$("#button").click(() => {
			var latex = document.getElementById("latex").value;

			var xhttp = new XMLHttpRequest();
			

			xhttp.onreadystatechange = function() {
				if (this.status === 200) {
					console.log(this.responseText)
				}
			}

			xhttp.open("GET", "http://127.0.0.1:8000/api/queryLatex?expression=pp", true)
			xhttp.send()
		})
	</script>
</body>

</html>